<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="endpoint2" transferMode="Streamed" />
            </netTcpBinding>
            <wsDualHttpBinding>
                <binding name="endpoint1" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:10009/DuplexOperationService"
                binding="wsDualHttpBinding" bindingConfiguration="endpoint1"
                contract="ServiceReference1.IDuplexOperations" name="endpoint1">
                <identity>
                    <userPrincipalName value="DESKTOP-K67V8IM\karol" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:20009/Strumien" binding="netTcpBinding"
                bindingConfiguration="endpoint2" contract="ServiceReference2.IService1"
                name="endpoint2">
                <identity>
                    <userPrincipalName value="DESKTOP-K67V8IM\karol" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>
