<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IService1" transferMode="Streamed"/>
            </netTcpBinding>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IDuplexOperations"/>
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:20009/Strumien" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IService1" contract="ServiceReference1.IService1" name="NetTcpBinding_IService1">
                <identity>
                    <userPrincipalName value="DESKTOP-24421S3\karol"/>
                </identity>
            </endpoint>
            <endpoint address="http://localhost:10009/DuplexOperationService" binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IDuplexOperations" contract="ServiceReference2.IDuplexOperations" name="WSDualHttpBinding_IDuplexOperations">
                <identity>
                    <userPrincipalName value="DESKTOP-24421S3\karol"/>
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>
