<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <system.serviceModel>
    <services>
      <service name="Contract.DuplexOperations" behaviorConfiguration="zachowanieSerwisu">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:10009"/>
          </baseAddresses>
        </host>
        <endpoint name="endpoint1" address="/DuplexOperationService" binding="wsDualHttpBinding"
                  contract="Contract.IDuplexOperations"> 
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange">
        </endpoint>
      </service>
      <service name="Contract.Service1" behaviorConfiguration="zachowanieSerwisu2">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:20009"/>
          </baseAddresses>
        </host>
        <endpoint name="endpoint2" address="/Strumien" binding="netTcpBinding"
                  bindingConfiguration="EndpointConfiguration"
                  contract="Contract.IService1">
          
        </endpoint>
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="zachowanieSerwisu">
          <serviceThrottling
            maxConcurrentCalls="5"
            maxConcurrentSessions="5"
            maxConcurrentInstances="5"
            />
          <serviceDebug includeExceptionDetailInFaults="True" />
          <serviceMetadata
            httpGetEnabled="true"
            httpGetUrl=""/>
        </behavior>
        <behavior name="zachowanieSerwisu2">
          <serviceThrottling
            maxConcurrentCalls="5"
            maxConcurrentSessions="5"
            maxConcurrentInstances="5"
            />
          <serviceDebug includeExceptionDetailInFaults="True" />
          <serviceMetadata
            httpGetEnabled="true"
            httpGetUrl="http://localhost:20109"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding name="EndpointConfiguration"
                 transferMode="Streamed"
                 maxReceivedMessageSize="10000000">
          
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
</configuration>